var_role_defaults        : {{ var_role_defaults }}
var_inventory_group_vars : {{ var_inventory_group_vars }}
var_inventory_host_vars  : {{ var_inventory_host_vars }}
var_group_vars_hosts     : {{ var_group_vars_hosts }}
var_group_vars_group     : {{ var_group_vars_group }}
var_host_vars_group      : {{ var_host_vars_group }}
var_host_vars_hosts      : {{ var_host_vars_hosts }}
var_role_vars            : {{ var_role_vars }}
